<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AppConfigMember" type="Selenium.Framework.Development.Kit.Configuration.AppConfigHandler,Selenium.Framework.Development.Kit" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <AppConfigMember>
    <!--START: Wait Settings In Second-->
    <Localization>en</Localization>
    <ObjectTimeout>90</ObjectTimeout>
    <PollingInterval>1</PollingInterval>
    <PageTimeout>5</PageTimeout>
    <CommandTimeout>300</CommandTimeout>
    <WaitForFreeSlotOnHubTimeout>500</WaitForFreeSlotOnHubTimeout>
    <!--END: Wait Settings-->
    <!--START:Browser Environment Setup (Chrome, IE and Firefox)(Grid or Local)-->
    <Url>https://opensource-demo.orangehrmlive.com/</Url>
    <UserName>Admin</UserName>
    <Password>admin123</Password>
    <Environment>QA</Environment>
    <NoCache>true</NoCache>
    <ProfileName></ProfileName>
    <Browser>Chrome</Browser>
    <ExecutionType>Local</ExecutionType>
    <GridHost>http://localhost:4444/</GridHost>
    <!--END:Browser Environment Setup-->
    <!--START: Download Or Upload Location Path-->
    <RootDownloadLocation>C:\Automation\Download\</RootDownloadLocation>
    <RootUploadLocation>C:\Automation\Upload\</RootUploadLocation>
    <!--END: Download Or Upload Location Path-->
    <!--START: Automation Report Or Log Location-->
    <AutomationReportPath>C:\Automation\AutomationReport\</AutomationReportPath>
    <AutomationLogPath>C:\Automation\AutomationLogs\</AutomationLogPath>
    <AutomationReportFolderName>AutomationReport</AutomationReportFolderName>
    <AutomationLogFolderName>AutomationLogs</AutomationLogFolderName>
    <IELogFileLocation>C:\Automation\IELog\InternetExplorerDriver.log</IELogFileLocation>
    <FirefoxLogFileLocation>C:\Automation\FirefoxLog\FirefoxDriver.log</FirefoxLogFileLocation>
    <ChromeLogFileLocation>C:\Automation\ChromeLog\ChromeDriver.log</ChromeLogFileLocation>
    <!--END: Automation Report Or Log Location-->
    <!-- page load strategy (Default,Normal,Eager,None)-->
    <PageLoadStrategy>None</PageLoadStrategy>
  </AppConfigMember>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{ddd MMM dd yyyy hh-mm-ss}] [%level] %logger{1} %username - %message%newline" />
      </layout>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Automation\AutomationLogs\Automation.log" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{ddd MMM dd yyyy hh-mm-ss}] [%level] %logger{1} %username - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>